body {
  padding: 7rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 2px solid #a09191;
}

thead, tfoot {
  background-color: black;
  color: aliceblue;
}

th,td {
  text-align: left;
  padding: 10px;
}

tr:nth-child(even){
  background: #e6e5d2;
}